n8n/workflows/02-catalogo-produtos.json
{
  "name": "02 - Catalogo de Produtos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalogo/produtos",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-catalogo",
      "name": "Webhook Consulta Catalogo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst termo = String(body.termo || body.produto || body.categoria || '').trim();\nreturn [{ json: { termo, limite: Number(body.limite || 5) } }];"
      },
      "id": "normalizar-consulta",
      "name": "Normalizar consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.name, p.description, p.price, p.image_url, p.tags, c.name AS category FROM products p LEFT JOIN categories c ON c.id = p.category_id WHERE LOWER(p.name) LIKE LOWER('%' || $1 || '%') OR LOWER(p.tags) LIKE LOWER('%' || $1 || '%') OR LOWER(c.name) LIKE LOWER('%' || $1 || '%') ORDER BY p.name LIMIT $2;",
        "options": {
          "queryReplacement": "={{ [$json.termo, $json.limite] }}"
        }
      },
      "id": "buscar-produtos",
      "name": "Buscar produtos PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [760, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "PostgreSQL Loja"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const produtos = $input.all().map(i => i.json);\nlet texto;\nif (!produtos.length) {\n  texto = 'Não encontrei esse item no catálogo agora. Deseja que eu chame um atendente para verificar disponibilidade?';\n} else {\n  texto = 'Encontrei estes produtos no catálogo:\\n\\n' + produtos.map((p, idx) => `${idx + 1}. ${p.name} - R$ ${Number(p.price).toFixed(2)}\\n${p.description || ''}${p.image_url ? `\\nImagem: ${p.image_url}` : ''}`).join('\\n\\n');\n}\nreturn [{ json: { produtos, texto } }];"
      },
      "id": "formatar-produtos",
      "name": "Formatar resposta catalogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "responder-catalogo",
      "name": "Responder catalogo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1280, 300]
    }
  ],
  "connections": {
    "Webhook Consulta Catalogo": {"main": [[{"node": "Normalizar consulta", "type": "main", "index": 0}]]},
    "Normalizar consulta": {"main": [[{"node": "Buscar produtos PostgreSQL", "type": "main", "index": 0}]]},
    "Buscar produtos PostgreSQL": {"main": [[{"node": "Formatar resposta catalogo", "type": "main", "index": 0}]]},
    "Formatar resposta catalogo": {"main": [[{"node": "Responder catalogo", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["loja-descartaveis", "catalogo"]
}
