n8n/workflows/04-imagem-vision-catalogo.json
{
  "name": "04 - Imagem WhatsApp - Vision e Catalogo",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "evolution/imagem", "responseMode": "lastNode", "options": {}},
      "id": "webhook-imagem",
      "name": "Webhook Imagem Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst data = body.data || body;\nconst key = data.key || {};\nconst msg = data.message || {};\nconst image = msg.imageMessage || data.imageMessage || {};\nreturn [{ json: { raw: body, instance: body.instance || data.instance || 'loja-descartaveis', remoteJid: key.remoteJid || data.remoteJid || '', mediaUrl: image.url || data.mediaUrl || data.url || '', caption: image.caption || data.caption || '', isFromMe: Boolean(key.fromMe) } }];"
      },
      "id": "normalizar-imagem",
      "name": "Normalizar imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {"url": "={{ $json.mediaUrl }}", "responseFormat": "file", "options": {}},
      "id": "baixar-imagem",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "jsCode": "const binary = $binary.data;\nconst mime = binary?.mimeType || 'image/jpeg';\nconst base64 = binary?.data || '';\nconst original = $('Normalizar imagem').first().json;\nreturn [{ json: { ...original, imageDataUrl: `data:${mime};base64,${base64}` } }];"
      },
      "id": "converter-base64",
      "name": "Preparar imagem base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4o-mini\",\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Analise a imagem enviada por um cliente de uma loja de descartáveis. Extraia palavras-chave de produto, material, formato, tamanho aproximado e uso. Responda somente em JSON com os campos: descricao, palavras_chave.\"},{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"Identifique o produto descartável ou embalagem na imagem.\"},{\"type\":\"image_url\",\"image_url\":{\"url\":{{ JSON.stringify($json.imageDataUrl) }}}}]}]}",
        "options": {}
      },
      "id": "analisar-vision",
      "name": "Analisar imagem GPT Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\ntry { parsed = JSON.parse(content.replace(/```json|```/g, '').trim()); } catch(e) { parsed = { descricao: content, palavras_chave: content }; }\nconst termo = Array.isArray(parsed.palavras_chave) ? parsed.palavras_chave.join(' ') : String(parsed.palavras_chave || parsed.descricao || '');\nconst original = $('Normalizar imagem').first().json;\nreturn [{ json: { ...original, descricaoImagem: parsed.descricao || '', termoBusca: termo } }];"
      },
      "id": "extrair-termos",
      "name": "Extrair termos da imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.name, p.description, p.price, p.image_url, p.tags, c.name AS category FROM products p LEFT JOIN categories c ON c.id = p.category_id WHERE LOWER(p.name || ' ' || COALESCE(p.tags, '') || ' ' || COALESCE(c.name, '')) LIKE LOWER('%' || $1 || '%') ORDER BY p.name LIMIT 5;",
        "options": {"queryReplacement": "={{ [$json.termoBusca] }}"}
      },
      "id": "buscar-similares",
      "name": "Buscar similares PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 300],
      "credentials": {"postgres": {"id": "CONFIGURAR_CREDENCIAL_POSTGRES", "name": "PostgreSQL Loja"}}
    },
    {
      "parameters": {
        "jsCode": "const produtos = $input.all().map(i => i.json);\nconst original = $('Extrair termos da imagem').first().json;\nlet resposta = `Analisei a imagem e identifiquei: ${original.descricaoImagem || original.termoBusca}.`;\nif (produtos.length) {\n  resposta += '\\n\\nProdutos similares encontrados:\\n' + produtos.map((p, i) => `${i + 1}. ${p.name} - R$ ${Number(p.price).toFixed(2)}\\n${p.description || ''}`).join('\\n\\n');\n} else {\n  resposta += '\\n\\nNão encontrei um item similar no catálogo. Deseja que eu encaminhe para um atendente verificar?';\n}\nreturn [{ json: { instance: original.instance, remoteJid: original.remoteJid, resposta, produtos } }];"
      },
      "id": "formatar-resposta-imagem",
      "name": "Formatar resposta imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, aviso: 'Substitua este nó pelo nó Evolution API de envio de texto ou mídia, usando remoteJid e resposta.' } }];"
      },
      "id": "enviar-evolution-node",
      "name": "Enviar resposta via Evolution API Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}},
      "id": "responder-imagem",
      "name": "Responder webhook imagem",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2560, 300]
    }
  ],
  "connections": {
    "Webhook Imagem Evolution": {"main": [[{"node": "Normalizar imagem", "type": "main", "index": 0}]]},
    "Normalizar imagem": {"main": [[{"node": "Baixar imagem", "type": "main", "index": 0}]]},
    "Baixar imagem": {"main": [[{"node": "Preparar imagem base64", "type": "main", "index": 0}]]},
    "Preparar imagem base64": {"main": [[{"node": "Analisar imagem GPT Vision", "type": "main", "index": 0}]]},
    "Analisar imagem GPT Vision": {"main": [[{"node": "Extrair termos da imagem", "type": "main", "index": 0}]]},
    "Extrair termos da imagem": {"main": [[{"node": "Buscar similares PostgreSQL", "type": "main", "index": 0}]]},
    "Buscar similares PostgreSQL": {"main": [[{"node": "Formatar resposta imagem", "type": "main", "index": 0}]]},
    "Formatar resposta imagem": {"main": [[{"node": "Enviar resposta via Evolution API Node", "type": "main", "index": 0}]]},
    "Enviar resposta via Evolution API Node": {"main": [[{"node": "Responder webhook imagem", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["loja-descartaveis", "imagem"]
}
