n8n/workflows/loja-descartaveis-atendimento-basico.json
{
  "name": "Loja Descartaveis - Atendimento Basico WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst data = body.data || body;\nconst key = data.key || {};\nconst message = data.message || {};\n\nconst remoteJid = key.remoteJid || data.remoteJid || data.from || body.from || '';\nconst instance = body.instance || data.instance || $env.EVOLUTION_INSTANCE || 'default';\nconst messageId = key.id || data.messageId || body.messageId || '';\n\nlet text = '';\nlet messageType = 'unknown';\n\nif (message.conversation) {\n  text = message.conversation;\n  messageType = 'text';\n} else if (message.extendedTextMessage?.text) {\n  text = message.extendedTextMessage.text;\n  messageType = 'text';\n} else if (data.messageType) {\n  messageType = data.messageType;\n  text = data.text || data.body || '';\n}\n\nreturn [\n  {\n    json: {\n      raw: body,\n      instance,\n      remoteJid,\n      messageId,\n      messageType,\n      text: String(text || '').trim(),\n      isFromMe: Boolean(key.fromMe)\n    }\n  }\n];"
      },
      "id": "normalizar-mensagem",
      "name": "Normalizar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "somente-texto",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ignorar-proprias",
              "leftValue": "={{ $json.isFromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "tem-texto",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validar-texto",
      "name": "É mensagem de texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de vendas e atendimento ao cliente amigável e prestativo para uma loja de descartáveis. Responda sempre em português brasileiro. Seja cordial, claro e objetivo. Ajude o cliente a encontrar produtos como copos, embalagens, pratos, talheres, guardanapos e itens para delivery. Não invente preço, estoque ou informação técnica: quando não souber, diga que vai verificar com a equipe. Sempre finalize perguntando se pode ajudar em mais alguma coisa.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "openai-gpt",
      "name": "Gerar resposta GPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalizar mensagem').first().json;\nconst choice = $json.choices?.[0]?.message?.content || 'Desculpe, não consegui gerar uma resposta agora. Posso verificar com a equipe?';\nreturn [\n  {\n    json: {\n      instance: original.instance,\n      remoteJid: original.remoteJid,\n      messageId: original.messageId,\n      resposta: choice.trim()\n    }\n  }\n];"
      },
      "id": "preparar-resposta",
      "name": "Preparar resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_API_URL || 'http://evolution:8080') + '/message/sendText/' + $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($json.remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '')) }},\n  \"text\": {{ JSON.stringify($json.resposta) }}\n}",
        "options": {}
      },
      "id": "enviar-whatsapp",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"message\": \"Mensagem processada\",\n  \"to\": \"{{ $('Preparar resposta').first().json.remoteJid }}\"\n}",
        "options": {}
      },
      "id": "responder-webhook-ok",
      "name": "Responder webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"ignored\": true,\n  \"reason\": \"Mensagem ignorada: não é texto, está vazia ou foi enviada pela própria conta.\"\n}",
        "options": {}
      },
      "id": "responder-webhook-ignorado",
      "name": "Responder webhook ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        440
      ]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar mensagem": {
      "main": [
        [
          {
            "node": "É mensagem de texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem de texto?": {
      "main": [
        [
          {
            "node": "Gerar resposta GPT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder webhook ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resposta GPT": {
      "main": [
        [
          {
            "node": "Preparar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar resposta": {
      "main": [
        [
          {
            "node": "Enviar resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Responder webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T00:00:00.000Z",
  "versionId": "1"
}
