n8n/workflows/workflow_n8n_webhook_principal_limpo.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot",
        "options": {}
      },
      "id": "c0494c52-93b3-4de1-8109-7901cd25b695",
      "name": "Webhook Principal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst data = body.data || body;\nconst key = data.key || {};\nconst message = data.message || {};\n\nconst remoteJid = key.remoteJid || data.remoteJid || data.from || body.from || '';\nconst instance = body.instance || data.instance || $env.EVOLUTION_INSTANCE || 'default';\nconst messageId = key.id || data.messageId || body.messageId || `${Date.now()}-${remoteJid}`;\n\nlet text = '';\nlet messageType = 'unknown';\nlet mediaUrl = '';\nlet caption = '';\n\nif (message.conversation) {\n  text = message.conversation;\n  messageType = 'text';\n} else if (message.extendedTextMessage?.text) {\n  text = message.extendedTextMessage.text;\n  messageType = 'text';\n} else if (message.audioMessage) {\n  messageType = 'audio';\n  mediaUrl = message.audioMessage.url || data.mediaUrl || data.url || '';\n} else if (message.imageMessage) {\n  messageType = 'image';\n  mediaUrl = message.imageMessage.url || data.mediaUrl || data.url || '';\n  caption = message.imageMessage.caption || data.caption || '';\n  text = caption;\n} else if (data.messageType) {\n  const mt = String(data.messageType).toLowerCase();\n  if (mt === 'conversation' || mt === 'extendedtextmessage' || mt === 'text') {\n    messageType = 'text';\n    text = data.text || data.body || '';\n  } else if (mt.includes('audio')) {\n    messageType = 'audio';\n    mediaUrl = data.mediaUrl || data.url || '';\n  } else if (mt.includes('image')) {\n    messageType = 'image';\n    mediaUrl = data.mediaUrl || data.url || '';\n    caption = data.caption || '';\n    text = caption;\n  } else {\n    messageType = mt;\n    text = data.text || data.body || '';\n  }\n}\n\nreturn [{\n  json: {\n    raw: body,\n    event: body.event || data.event || '',\n    instance,\n    remoteJid,\n    messageId,\n    messageType,\n    text: String(text || '').trim(),\n    mediaUrl,\n    caption,\n    isFromMe: Boolean(key.fromMe)\n  }\n}];"
      },
      "id": "9e77c6a3-a4f1-464c-84d0-0da6974c4fa2",
      "name": "Normalizar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2180,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "nao-propria",
              "leftValue": "={{ $json.isFromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "tem-destino",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7f65287-5eb0-4526-9649-0e679e4c3e51",
      "name": "É mensagem válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1960,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tipo-texto",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "tem-texto",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "048ab1c4-bcc7-4a3f-9407-8475f3addd9e",
      "name": "É texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1740,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tipo-audio",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "tem-media",
              "leftValue": "={{ $json.mediaUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da6d8b35-bd83-43a1-9296-ae8fc40e8bf1",
      "name": "É áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1740,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tipo-imagem",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "tem-media",
              "leftValue": "={{ $json.mediaUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f911db36-e2ff-42e4-a813-7c55827f84c6",
      "name": "É imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1520,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (customer_whatsapp_id, message_id, sender_type, message_type, content, original_media_url) VALUES ($1, $2, 'customer', $3, $4, $5) ON CONFLICT (message_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$('Normalizar mensagem').first().json.remoteJid, $('Normalizar mensagem').first().json.messageId, $('Normalizar mensagem').first().json.messageType, $('Normalizar mensagem').first().json.text, $('Normalizar mensagem').first().json.mediaUrl || null] }}"
        }
      },
      "id": "6d0d6dbe-5f2d-4299-81df-2efdfd3e28e4",
      "name": "Salvar mensagem cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1520,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalizar mensagem').first().json;\nconst text = String(original.text || '').trim();\n\nconst catalogRegex = /(pre[çc]o|valor|tem|vende|produto|cat[aá]logo|copo|copos|embalagem|embalagens|prato|pratos|talher|talheres|guardanapo|delivery|marmita|isopor|sacola|descart[aá]vel)/i;\nconst route = catalogRegex.test(text) ? 'catalogo' : 'atendimento';\n\nreturn [{\n  json: {\n    ...original,\n    route,\n    termoBusca: text,\n    limite: 5\n  }\n}];"
      },
      "id": "b3a98785-90b3-4211-8857-3a1df917df38",
      "name": "Classificar texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "catalogo",
              "leftValue": "={{ $json.route }}",
              "rightValue": "catalogo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c573bcd8-66a8-47c8-81f9-3406f03d57b7",
      "name": "É consulta de catálogo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1080,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.name, p.description, p.price, p.image_url, p.tags, c.name AS category FROM products p LEFT JOIN categories c ON c.id = p.category_id WHERE LOWER(p.name) LIKE LOWER('%' || $1 || '%') OR LOWER(COALESCE(p.tags, '')) LIKE LOWER('%' || $1 || '%') OR LOWER(COALESCE(c.name, '')) LIKE LOWER('%' || $1 || '%') ORDER BY p.name LIMIT $2;",
        "options": {
          "queryReplacement": "={{ [$('Classificar texto').first().json.termoBusca, $('Classificar texto').first().json.limite] }}"
        }
      },
      "id": "11448c1d-52a6-405e-9018-c1d070f8b3c1",
      "name": "Buscar produtos PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -860,
        -340
      ]
    },
    {
      "parameters": {
        "jsCode": "const produtos = $input.all().map(i => i.json);\nconst original = $('Classificar texto').first().json;\n\nlet resposta;\nif (!produtos.length) {\n  resposta = 'Não encontrei esse item no catálogo agora. Posso verificar com a equipe para confirmar disponibilidade e preço?';\n} else {\n  resposta = 'Encontrei estes produtos no catálogo:\\n\\n' + produtos.map((p, idx) => {\n    const preco = p.price !== undefined && p.price !== null ? ` - R$ ${Number(p.price).toFixed(2)}` : '';\n    return `${idx + 1}. ${p.name}${preco}\\n${p.description || ''}${p.image_url ? `\\nImagem: ${p.image_url}` : ''}`;\n  }).join('\\n\\n') + '\\n\\nPosso ajudar em mais alguma coisa?';\n}\n\nreturn [{ json: { instance: original.instance, remoteJid: original.remoteJid, messageId: original.messageId, resposta } }];"
      },
      "id": "440e3ed2-e089-411e-bbc7-2c3b16d8ec68",
      "name": "Formatar resposta catálogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sender_type, message_type, content, timestamp FROM conversations WHERE customer_whatsapp_id = $1 ORDER BY timestamp DESC LIMIT 10;",
        "options": {
          "queryReplacement": "={{ [$('Classificar texto').first().json.remoteJid] }}"
        }
      },
      "id": "1419f05d-f230-478f-9c9a-546432849d15",
      "name": "Buscar histórico PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -860,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Classificar texto').first().json;\nconst historico = $input.all().map(i => i.json).reverse()\n  .map(m => `${m.sender_type === 'agent' ? 'Atendente' : 'Cliente'}: ${m.content}`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    ...original,\n    promptUsuario: `Histórico recente:\\n${historico || '(sem histórico)'}\\n\\nMensagem atual do cliente: ${original.text}`\n  }\n}];"
      },
      "id": "937516a2-53ca-48f6-9df5-e2b5f9766b04",
      "name": "Preparar prompt com histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -100
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de vendas e atendimento ao cliente para uma loja de descartáveis. Responda sempre em português brasileiro. Seja cordial, claro e objetivo. Ajude com copos, embalagens, pratos, talheres, guardanapos e itens para delivery. Não invente preço, estoque ou informação técnica; quando não souber, diga que vai verificar com a equipe. Finalize perguntando se pode ajudar em mais alguma coisa.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.promptUsuario) }}\n    }\n  ]\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "63c8244a-0771-4784-8344-1e4064acdd54",
      "name": "Gerar resposta GPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -420,
        -100
      ],
      "credentials": {
        "openAiApi": {
          "id": "lXX3JCdk0bDlJdxJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Preparar prompt com histórico').first().json;\nconst resposta =\n  $json.choices?.[0]?.message?.content ||\n  $json.message?.content ||\n  $json.text ||\n  $json.output ||\n  'Desculpe, não consegui gerar uma resposta agora. Vou verificar com a equipe.';\n\nreturn [{ json: { instance: original.instance, remoteJid: original.remoteJid, messageId: original.messageId, resposta: String(resposta).trim() } }];"
      },
      "id": "ee728c05-8344-495c-9e36-ec3236f3e242",
      "name": "Preparar resposta GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -100
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {}
      },
      "id": "f864f61e-d00e-4499-9c76-79561b1fd32c",
      "name": "Baixar áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "29573c21-e16a-4a4d-82b5-83753bd66224",
      "name": "Transcrever áudio Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1300,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalizar mensagem').first().json;\nconst transcricao = $json.text || $json.transcription || '';\nreturn [{\n  json: {\n    ...original,\n    messageType: 'text',\n    text: transcricao || 'Áudio recebido, mas não consegui transcrever com clareza.'\n  }\n}];"
      },
      "id": "fe9f9274-3d33-461f-be20-f832b78a4638",
      "name": "Usar transcrição como texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {}
      },
      "id": "ce85436a-069e-4720-97e9-f2a88a38f4ba",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1300,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const binary = $binary.data;\nconst mime = binary?.mimeType || 'image/jpeg';\nconst base64 = binary?.data || '';\nconst original = $('Normalizar mensagem').first().json;\nreturn [{ json: { ...original, imageDataUrl: `data:${mime};base64,${base64}` } }];"
      },
      "id": "385cb94b-0cd1-4f13-94dc-57a5d062d58d",
      "name": "Preparar imagem base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4o-mini\",\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Analise a imagem enviada por um cliente de uma loja de descartáveis. Extraia palavras-chave de produto, material, formato, tamanho aproximado e uso. Responda somente em JSON com os campos: descricao, palavras_chave.\"},{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"Identifique o produto descartável ou embalagem na imagem.\"},{\"type\":\"image_url\",\"image_url\":{\"url\":{{ JSON.stringify($json.imageDataUrl) }}}}]}]}",
        "options": {}
      },
      "id": "e720fd1d-7915-4411-b11c-c8eda09b7631",
      "name": "Analisar imagem GPT Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\ntry {\n  parsed = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch (e) {\n  parsed = { descricao: content, palavras_chave: content };\n}\nconst termo = Array.isArray(parsed.palavras_chave) ? parsed.palavras_chave.join(' ') : String(parsed.palavras_chave || parsed.descricao || '');\nconst original = $('Normalizar mensagem').first().json;\nreturn [{ json: { ...original, descricaoImagem: parsed.descricao || termo, termoBusca: termo } }];"
      },
      "id": "dc392e4f-8f9b-4686-90a8-31eed40d9ef2",
      "name": "Extrair termos da imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.name, p.description, p.price, p.image_url, p.tags, c.name AS category FROM products p LEFT JOIN categories c ON c.id = p.category_id WHERE LOWER(p.name || ' ' || COALESCE(p.tags, '') || ' ' || COALESCE(c.name, '')) LIKE LOWER('%' || $1 || '%') ORDER BY p.name LIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$('Extrair termos da imagem').first().json.termoBusca] }}"
        }
      },
      "id": "183cf33c-dad0-4819-86fa-0c67a85a4a4c",
      "name": "Buscar similares PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -420,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const produtos = $input.all().map(i => i.json);\nconst original = $('Extrair termos da imagem').first().json;\n\nlet resposta = `Analisei a imagem e identifiquei: ${original.descricaoImagem || original.termoBusca}.`;\nif (produtos.length) {\n  resposta += '\\n\\nProdutos similares encontrados:\\n' + produtos.map((p, i) => {\n    const preco = p.price !== undefined && p.price !== null ? ` - R$ ${Number(p.price).toFixed(2)}` : '';\n    return `${i + 1}. ${p.name}${preco}\\n${p.description || ''}`;\n  }).join('\\n\\n');\n} else {\n  resposta += '\\n\\nNão encontrei um item similar no catálogo. Posso encaminhar para a equipe verificar?';\n}\nresposta += '\\n\\nPosso ajudar em mais alguma coisa?';\n\nreturn [{ json: { instance: original.instance, remoteJid: original.remoteJid, messageId: original.messageId, resposta } }];"
      },
      "id": "bd0fc289-6c89-4c65-a6ae-abbd91b226f2",
      "name": "Formatar resposta imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalizar mensagem').first().json;\nreturn [{\n  json: {\n    instance: original.instance,\n    remoteJid: original.remoteJid,\n    messageId: original.messageId,\n    resposta: 'Recebi sua mensagem, mas por enquanto consigo tratar melhor texto, áudio com link de mídia e imagem com link de mídia. Pode me enviar em texto, por favor?'\n  }\n}];"
      },
      "id": "e7f2496c-6081-4a4b-a127-6bafda2b58ed",
      "name": "Preparar resposta tipo não suportado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (customer_whatsapp_id, message_id, sender_type, message_type, content) VALUES ($1, $2, 'agent', 'text', $3) ON CONFLICT (message_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$json.remoteJid, `${$json.messageId || Date.now()}-bot`, $json.resposta] }}"
        }
      },
      "id": "cf597eb0-293e-4871-b868-29650fde1514",
      "name": "Salvar resposta bot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        40,
        80
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.resposta }}",
        "options_message": {}
      },
      "id": "068c8295-a2a6-4e3e-ad2c-470988331e07",
      "name": "Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        260,
        80
      ],
      "credentials": {
        "evolutionApi": {
          "id": "ihmrqDf4atmAEl1y",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Principal": {
      "main": [
        [
          {
            "node": "Normalizar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar mensagem": {
      "main": [
        [
          {
            "node": "É mensagem válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem válida?": {
      "main": [
        [
          {
            "node": "É texto?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É texto?": {
      "main": [
        [
          {
            "node": "Salvar mensagem cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar mensagem cliente": {
      "main": [
        [
          {
            "node": "Classificar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar texto": {
      "main": [
        [
          {
            "node": "É consulta de catálogo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É consulta de catálogo?": {
      "main": [
        [
          {
            "node": "Buscar produtos PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar histórico PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar produtos PostgreSQL": {
      "main": [
        [
          {
            "node": "Formatar resposta catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar resposta catálogo": {
      "main": [
        [
          {
            "node": "Salvar resposta bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar histórico PostgreSQL": {
      "main": [
        [
          {
            "node": "Preparar prompt com histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt com histórico": {
      "main": [
        [
          {
            "node": "Gerar resposta GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resposta GPT": {
      "main": [
        [
          {
            "node": "Preparar resposta GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar resposta GPT": {
      "main": [
        [
          {
            "node": "Salvar resposta bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É áudio?": {
      "main": [
        [
          {
            "node": "Baixar áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar áudio": {
      "main": [
        [
          {
            "node": "Transcrever áudio Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever áudio Whisper": {
      "main": [
        [
          {
            "node": "Usar transcrição como texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar transcrição como texto": {
      "main": [
        [
          {
            "node": "Salvar mensagem cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É imagem?": {
      "main": [
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar resposta tipo não suportado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Preparar imagem base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar imagem base64": {
      "main": [
        [
          {
            "node": "Analisar imagem GPT Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar imagem GPT Vision": {
      "main": [
        [
          {
            "node": "Extrair termos da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair termos da imagem": {
      "main": [
        [
          {
            "node": "Buscar similares PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar similares PostgreSQL": {
      "main": [
        [
          {
            "node": "Formatar resposta imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar resposta imagem": {
      "main": [
        [
          {
            "node": "Salvar resposta bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar resposta tipo não suportado": {
      "main": [
        [
          {
            "node": "Salvar resposta bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar resposta bot": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        []
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}